
        body {
            min-height: 400px;
            margin-bottom: 400px;
            clear: both;
        }

        /* * {
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
        } */
